body {
    max-width: 100%;
}

.container-fluid {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
}

p {
    font-family: 'Indie Flower', cursive;
}

.bzbee {
    font-size: 70px;
    color: yellow;
}
